.background-green {
  background-color: #00887A;
}

.background-peach {
  background-color: #FFCCBC;
}

.background-white {
  background-color: #FFFFFF;
}

.background-black {
  background-color: #000000;
}

.background-cool-grey {
  background-color: #D3E3FC;
}

.background-blue {
  background-color: #77A6F7;
}
