f8 {
  font-size: 8px;
}

.f10 {
  font-size: 10px;
}


.f12 {
  font-size: 12px;
}


.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f24 {
  font-size: 24px;
}

.f32 {
  font-size: 32px;
}

.f48 {
  font-size: 48px;
}

.f72 {
  font-size: 72px;
}