.text-green {
  color: #00887A;
}

.text-peach {
  color: #FFCCBC;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #000000;
}

.text-cool-grey {
  color: #D3E3FC;
}

.text-blue {
  color: #77A6F7;
}

